.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #777;
}

#pokemonGuess,
#pokemonSubmit {
  font-size: 16px;
}

@media (max-width: 500px) {
  img {
    width: 250px;
    height: auto;
  }
}
